{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block translationFolder %}data-translation-folder="levels"{% endblock %}
{% block title %}Courses{% endblock %}
{% load custom_filters %}
{% block content %}


<section class="container py-4 card px-4 mt-4">
    <!-- Tabs Navigation -->
    <ul class="nav nav-tabs mb-3" id="levelTabs" role="tablist">
        {% for level in levels %}
        <li class="nav-item" role="presentation">
            <button class="nav-link circle-nav {% if forloop.first %}active{% endif %}"
                    id="level-{{ level.id }}-tab"
                    data-mdb-toggle="tab"
                    data-mdb-target="#level-{{ level.id }}"
                    type="button"
                    role="tab"
                    aria-controls="level-{{ level.id }}"
                    aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                {{ level.name }}
            </button>
        </li>
        {% endfor %}
    </ul>

    <!-- Tab Contents -->
    <div class="tab-content" id="levelTabsContent">
        {% for level in levels %}
        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
             id="level-{{ level.id }}"
             role="tabpanel"
             aria-labelledby="level-{{ level.id }}-tab">
            <div class="row d-flex align-items-start">

                <!-- Courses and Tracks Section -->
                <div class="col-lg-12 col-md-6 mt-sm-3">
                    <!-- Main Tabs -->
                    <ul class="nav nav-pills mb-2" id="mainTab-{{ level.id }}" role="tablist">
                        {% if level.individual_courses %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {% if level.individual_courses %}active{% endif %} px-2 fw-bold"
                               id="individual-{{ level.id }}-tab"
                               data-mdb-toggle="pill"
                               href="#individual-{{ level.id }}"
                               role="tab"
                               aria-selected="{% if level.individual_courses %}true{% else %}false{% endif %}"><span data-translate="individual_courses">Individual Courses</span></a>
                        </li>
                        {% endif %}
                        {% if level.tracks %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {% if not level.individual_courses %}active{% endif %} px-2 fw-bold"
                               id="tracks-{{ level.id }}-tab"
                               data-mdb-toggle="pill"
                               href="#tracks-{{ level.id }}"
                               role="tab"
                               aria-selected="{% if not level.individual_courses %}true{% else %}false{% endif %}"><span data-translate="full_tracks">Full Tracks</span></a>
                        </li>
                        {% endif %}
                    </ul>

                    <div class="tab-content" id="mainTabContent-{{ level.id }}">
                        <!-- Individual Courses Tab -->
                        {% if level.individual_courses %}
                        <div class="tab-pane fade {% if level.individual_courses %}show active{% endif %}"
                             id="individual-{{ level.id }}"
                             role="tabpanel">
                            <div class="row">
                                {% for course in level.individual_courses %}
                                    <div class="col-lg-3 col-md-6 mb-4">
                                        {% include "courses/partials/course_card.html" with course=course %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <!-- Tracks Tab -->
                        {% if level.tracks %}
                        <div class="tab-pane fade {% if not level.individual_courses %}show active{% endif %} my-3"
                             id="tracks-{{ level.id }}"
                             role="tabpanel">
                            <ul class="nav nav-tabs mb-2" id="trackTab-{{ level.id }}" role="tablist">
                                {% for track in level.tracks %}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link {% if forloop.first %}active{% endif %}"
                                       id="track-{{ track.id }}-{{ level.id }}-tab"
                                       data-mdb-toggle="tab"
                                       href="#track-{{ track.id }}-{{ level.id }}"
                                       role="tab"
                                       aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                        {{ track.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>

                            <div class="tab-content py-3" id="trackTabContent-{{ level.id }}">
                                {% for track in level.tracks %}
                                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                                    id="track-{{ track.id }}-{{ level.id }}"
                                    role="tabpanel">
                                    <div class="row">
                                        {% for course in track.courses %}
                                            <div class="col-lg-3 col-md-6 mb-4">
                                                {% include "courses/partials/course_card.html" with course=course %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.add-to-cart').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var courseId = button.getAttribute('data-course-id');
                var csrfToken = '{% csrf_token %}';

                fetch(`/courses/send-join-request/${courseId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({ course_id: courseId })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.success)
                    if (data.success) {
                        button.outerHTML = `
                            <button class="btn btn-outline-primary btn-sm w-100" disabled>
                                <span data-translate="request_sent">Request Sent</span>
                            </button>
                        `;
                    } else if (data.status === 'already_sent') {
                        button.outerHTML = `
                            <button class="btn btn-outline-primary btn-sm w-100" disabled>
                                <span data-translate="request_already_sent">Request Already Sent</span>
                            </button>
                        `;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    });
</script>



<script src="{% static 'js/levels.js' %}"></script>
{% endblock %}