credentials.json 
token.json 
app/db.sqlite3 
app/payments/__pycache__
app/payments/migrations/__pycache__
app/courses/__pycache__
app/courses/templatetags/__pycache__
app/accounts/__pycache__
app/accounts/migrations/__pycache__
app/project/__pycache__
app/about/__pycache__
app/about/migrations/__pycache__
app/courses/migrations/__pycache__
app/venv
app/myenv
.env
.venv
myenv
.myenv
app/appointments/__pycache__/
app/appointments/migrations/__pycache__/
app/carts/__pycache__/
app/carts/migrations/__pycache__/
app/exams/__pycache__/
app/exams/migrations/__pycache__/
app/loves/__pycache__/__init__.cpython-311.pyc
app/loves/__pycache__/admin.cpython-311.pyc
app/loves/__pycache__/models.cpython-311.pyc
app/loves/__pycache__/apps.cpython-311.pyc
app/loves/__pycache__/urls.cpython-311.pyc
app/loves/migrations/__pycache__/
app/subscriptions/__pycache__/
app/logs/paymob_hmac.log

app/exams/__pycache__/
app/logs/paymob_hmac.log
app/loves/__pycache__/
app/subscriptions/__pycache__/

app/orders/__pycache__/
app/freemeet/__pycache__/
app/freemeet/migrations/__pycache__/
