{% load static %}

<!DOCTYPE html>
<html lang="en" {% block translationFolder %}{% endblock %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="nabbiuwny institution">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://nabbiuwny.com/static/imgs/hero/hero.png">
    <meta property="og:url" content="https://nabbiuwny.com/">
    <meta property="og:type" content="website">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}{% endblock %}</title>

    <!-- Define a version constant for cache busting -->
    <script>
        const APP_VERSION = '1.0.0';  // Update this when you make frontend changes
    </script>

    <!-- CSS Libraries with versioning -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet" />
    <!-- fav icon -->
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/bg/l2.png' %}?v=1.0.0">

    <link id="rtl-css" href="{% static 'css/mdb.rtl.min.css' %}?v=1.0.0" rel="stylesheet" disabled />
    <link id="ltr-css" href="{% static 'css/mdb.min.css' %}?v=1.0.0" rel="stylesheet" />

    <!-- Bootstrap CSS with versioning -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=1.0.0">

    <!-- Additional CSS -->
    {% block extra_css %}{% endblock %}
</head>
<body>
{% if request.path != '/' %}
  {% include 'navbar.html' %}
{% endif %}

<!-- Messages -->
<div class="toast-wrapper position-fixed top-0 end-0 p-3" style="z-index: 1055;">
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
          <div class="toast align-items-center bg-success text-white border-0 m-1" role="alert" aria-live="assertive" aria-atomic="true" style="max-width: 350px;">
      {% elif message.tags == 'error' %}
          <div class="toast align-items-center bg-danger text-white border-0 m-1" role="alert" aria-live="assertive" aria-atomic="true" style="max-width: 350px;">
      {% elif message.tags == 'warning' %}
          <div class="toast align-items-center bg-warning text-dark border-0 m-1" role="alert" aria-live="assertive" aria-atomic="true" style="max-width: 350px;">
      {% else %}
          <div class="toast align-items-center bg-secondary text-white border-0 m-1" role="alert" aria-live="assertive" aria-atomic="true" style="max-width: 350px;">
      {% endif %}
        <div class="d-flex">
          <div class="toast-body">
            {% if message.tags == 'warning' %}
              <i class="fas fa-exclamation-triangle me-2"></i>
            {% elif message.tags == 'error' %}
              <i class="fas fa-exclamation-circle me-2"></i>
            {% elif message.tags == 'success' %}
              <i class="fas fa-check-circle me-2"></i>
            {% endif %}
            {{ message }}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-mdb-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

<!-- Content -->
<div class="">
    {% block content %}{% endblock %}
</div>

<!-- WhatsApp Button -->
<a href="https://wa.me/+2{{company_info.phone}}" target="_blank" class="whatsapp-float" title="Chat with us on WhatsApp">
    <i class="fab fa-whatsapp whatsapp-icon"></i>
</a>

<!-- JavaScript Libraries with versioning -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}?v=1.0.0"></script>

<!-- Translations -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
      const langButtons = document.querySelectorAll('.lang-btn');
      let currentLanguage = localStorage.getItem('selectedLanguage') || 'en';
      let translations = {};

      function getTranslationFolder() {
          return document.documentElement.getAttribute('data-translation-folder');
      }

      async function loadTranslations(lang, folder) {
          const response = await fetch(`/static/translations/${folder}/${lang}.json?v=${APP_VERSION}`);
          const pageTranslations = await response.json();

          const navbarResponse = await fetch(`/static/translations/navbar/${lang}.json?v=${APP_VERSION}`);
          const navbarTranslations = await navbarResponse.json();

          translations = { ...translations, ...pageTranslations, ...navbarTranslations };
          translatePage();
      }

      function translatePage() {
          document.querySelectorAll('[data-translate]').forEach(el => {
              const key = el.getAttribute('data-translate');
              if (translations[key]) {
                  el.textContent = translations[key];
              }
          });
      }

      function switchStylesheet() {
          const rtlStylesheet = document.getElementById('rtl-css');
          const ltrStylesheet = document.getElementById('ltr-css');

          if (currentLanguage === 'ar') {
              rtlStylesheet.removeAttribute('disabled');
              ltrStylesheet.setAttribute('disabled', 'true');
          } else {
              ltrStylesheet.removeAttribute('disabled');
              rtlStylesheet.setAttribute('disabled', 'true');
          }
      }

      const translationFolder = getTranslationFolder();

      loadTranslations(currentLanguage, translationFolder);
      document.body.dir = currentLanguage === 'ar' ? 'rtl' : 'ltr';
      switchStylesheet();

      langButtons.forEach(button => {
        if (button.getAttribute('data-lang') === currentLanguage) {
            button.classList.add('active');
        } else {
            button.classList.remove('active');
        }

          button.addEventListener('click', function() {
              currentLanguage = this.getAttribute('data-lang');
              loadTranslations(currentLanguage, translationFolder);
              document.body.dir = currentLanguage === 'ar' ? 'rtl' : 'ltr';
              switchStylesheet();

              localStorage.setItem('selectedLanguage', currentLanguage);
              window.location.href = `${window.location.pathname}?lang=${currentLanguage}`;
          });
      });
    });

    document.addEventListener('DOMContentLoaded', function() {
        // Get current language from localStorage
        const currentLanguage = localStorage.getItem('selectedLanguage') || 'en';

        // Function to add language parameter to URLs
        function updateLinks() {
            const links = document.getElementsByTagName('a');
            for (let link of links) {
                if (link.href && link.href.startsWith(window.location.origin)) {
                    const url = new URL(link.href);
                    if (!url.searchParams.has('lang')) {
                        url.searchParams.set('lang', currentLanguage);
                        link.href = url.toString();
                    }
                }
            }
        }

        // Update links on page load
        updateLinks();

        // Update links when new content is loaded dynamically
        const observer = new MutationObserver(updateLinks);
        observer.observe(document.body, {
            childList: true,
            subtree: true
        });
    });
</script>

<!-- Script to handle messages in the JS scripts in pages -->
<script>
  function showToastMessage(message, type) {
    // Create a new toast element
    const toastEl = document.createElement('div');
    toastEl.classList.add('toast', 'align-items-center', 'border-0', 'm-1');
    toastEl.setAttribute('role', 'alert');
    toastEl.setAttribute('aria-live', 'assertive');
    toastEl.setAttribute('aria-atomic', 'true');
    toastEl.style.maxWidth = '350px';

    // Set the toast background color based on the type
    if (type === 'success') {
      toastEl.classList.add('bg-success', 'text-white');
      toastEl.innerHTML = `
        <div class="d-flex">
          <div class="toast-body">
            <i class="fas fa-check-circle me-2"></i>
            ${message}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-mdb-dismiss="toast" aria-label="Close"></button>
        </div>
      `;
    } else if (type === 'error') {
      toastEl.classList.add('bg-danger', 'text-white');
      toastEl.innerHTML = `
        <div class="d-flex">
          <div class="toast-body">
            <i class="fas fa-exclamation-circle me-2"></i>
            ${message}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-mdb-dismiss="toast" aria-label="Close"></button>
        </div>
      `;
    } else if (type === 'warning') {
      toastEl.classList.add('bg-warning', 'text-dark');
      toastEl.innerHTML = `
        <div class="d-flex">
          <div class="toast-body">
            <i class="fas fa-exclamation-triangle me-2"></i>
            ${message}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-mdb-dismiss="toast" aria-label="Close"></button>
        </div>
      `;
    } else {
      toastEl.classList.add('bg-secondary', 'text-white');
      toastEl.innerHTML = `
        <div class="d-flex">
          <div class="toast-body">
            ${message}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-mdb-dismiss="toast" aria-label="Close"></button>
        </div>
      `;
    }

    // Append the toast to the toast wrapper
    const toastWrapper = document.querySelector('.toast-wrapper');
    toastWrapper.appendChild(toastEl);

    // Initialize the MDB Toast instance
    const toastInstance = new mdb.Toast(toastEl, {
      autohide: true,  // Automatically hide after a delay
      delay: 5000      // Delay before hiding (5 seconds)
    });

    toastInstance.show(); // Show the toast programmatically

    // Remove the toast completely from the DOM after it's hidden
    toastEl.addEventListener('hidden.mdb.toast', function () {
      toastEl.remove();
    });
  }
</script>

<!-- Additional JS -->
{% block extra_js %}{% endblock %}
</body>
</html>